header{
    background-color: rgb(213, 234, 252);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
form{
    background-color: black;
    color: white;
    width: 400px;
    border-radius: 50px;
    padding: 25px;   
}
input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
}
button{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(174, 217, 255);
    border: none;
    outline: none;
}
button:hover{
    background-color: blueviolet;
}