body{
    background-image: url(school-education-seamless-pattern-vector-45436158.avif);
}
header{
    background-color: rgba(213, 234, 252, 0.723);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
form{
    background-color: rgba(211, 211, 211, 0.478);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    width: 400px;
    border-radius: 50px;
    padding: 25px;   
}
input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
}
button{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(19, 145, 255);
    border: none;
    outline: none;
}
button:hover{
    background-color: blueviolet;
}